body { margin: 0; }
canvas { width: 100%; height: 100% }

#footer
{

  background-color: black;
  opacity: 0.8;
  width : 90%;
  height : 10%;

  bottom: 5%;
  left : 5%;

  border-radius: 6px;

  position : absolute;


}

.warningdiv
{
    position : absolute;
    width : 100%;
    height: 100%;
    top : 0%;
    left: 0%;
    background-color: black;
    color : white;
    text-align: center;
}

.flexparent
{
  display : flex;
  height : 100%;
}

.child
{
  flex-grow: 1;
  color : white;
  text-align: center;
  height : 100%;
  padding : 10px;

  box-sizing: border-box

}

.custombtn
{
    height : 100%;
    width : 80%;
    font-size: 1.2em;
}

#disablewarning
{
  min-width : 500px;
  min-height: 64px;
}
